.main {
    background-color: var(--lumo-contrast-5pct);
    display: flex;
    justify-content: center;
    padding: var(--lumo-space-l);
}

.register {
    margin: 0 auto;
    max-width: 1400px;
    border-radius: 6px;
    overflow-x: hidden;
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 1.03rem;
    line-height: 1.5;
}

.sign-in {
    padding-top: 100px;
    margin: 0 auto;
    max-width: 1400px;
    border-radius: 6px;
    overflow-x: hidden;
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 1.03rem;
    line-height: 1.5;
}

.register .button-layout {
    margin-bottom: var(--lumo-space-l);
    margin-top: var(--lumo-space-l);
}

.reset-password {
    padding-top: 200px;
    margin: 0 auto;
    max-width: 1400px;
    border-radius: 6px;
    overflow-x: hidden;
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 1.03rem;
    line-height: 1.5;
}
.add-vacancy-view {
    width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
}
.add-vacancy-view .button-layout {
    margin-bottom: var(--lumo-space-l);
    margin-top: var(--lumo-space-m);
}