.main {
    background-color: var(--lumo-contrast-5pct);
    display: flex;
    justify-content: center;
    padding: var(--lumo-space-l);
}

.register {
    margin: 0 auto;
    max-width: 1400px;
    border-radius: 6px;
    overflow-x: hidden;
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 1.03rem;
    line-height: 1.5;
}

.sign-in {
    padding-top: 100px;
    margin: 0 auto;
    max-width: 1400px;
    border-radius: 6px;
    overflow-x: hidden;
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 1.03rem;
    line-height: 1.5;
}

.register .button-layout {
    margin-bottom: var(--lumo-space-l);
    margin-top: var(--lumo-space-l);
}

.reset-password {
    padding-top: 200px;
    margin: 0 auto;
    max-width: 1400px;
    border-radius: 6px;
    overflow-x: hidden;
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 1.03rem;
    line-height: 1.5;
}
.add-vacancy-view {
    width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
}
.add-vacancy-view .button-layout {
    margin-bottom: var(--lumo-space-l);
    margin-top: var(--lumo-space-m);
}
.show-cars-view {
    display: block;
    height: 100%;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 var(--lumo-space-l);
}
.show-application-view vaadin-grid-pro {
    height: 100%;
}
.show-application-view vaadin-grid-filter,
.show-application-view vaadin-grid-filter > * {
    width: 100%;
}
.show-application-view vaadin-grid-pro vaadin-horizontal-layout {
    align-items: center;
}
.show-application-view vaadin-grid-pro img {
    border-radius: 50%;
    flex-shrink: 0;
    height: var(--lumo-size-m);
    width: var(--lumo-size-m);
}
.show-application-view .name {
    overflow: hidden;
    text-overflow: ellipsis;
}
